@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'MontserratAlt1-Regular';
  src: url('/fonts/MontserratAlt1-Regular.woff2') format('woff2'),
       url('/fonts/MontserratAlt1-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h2 {
  font-family: 'MontserratAlt1-Regular', sans-serif;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
